
# Dependencies and packages
node_modules/
package-lock.json
vendor/

# Build and compiled files
*.cache
*.jar
*.lock
*.phar
.php-cs-fixer.cache
.phpunit.result.cache
build/

# Log files
*.log
error_log

# Laravel specific
.env

# Local configurations
/.vagrant

# IDE specific
.phpintel
/.idea

# Git specific
.git-blame-ignore-revs
.git-rewrite

# Temporary and system files
*.stackdump
*:Zone.Identifier
.DS_Store

# Backup files
*.backup
*.backup.*
*.bak
*.bakup
*.old
*.old1

# Documentation and cache
cache/
docs/cache/
docs/phpstan/

# Other
node_modules
node_modules
vendor
node_modules
